<div class="content container-lg">
    <div class="connection_info">連線人數: <span class="count"></span></div>
    <ul id="messages"></ul>
</div>
<div class="p-1 container-lg fixed-bottom">
    <div class="input-group input-group-lg">
        <input id="message" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        <button id="send-btn" type="button" class="btn btn-warning">SEND</button>
    </div>
</div>

