<div class="content container-lg">
    <ul id="messages"></ul>
</div>
<div class="p-1 container-lg fixed-bottom">
    <form id="form" action="">
        <input id="input" autocomplete="off" />
        <button type="button" class="btn btn-warning">SEND</button>
    </form>
</div>

